.gallery {
  background-image: linear-gradient(to bottom, #fff5f6 40%, white 40%);
}

.gallery__section {
  margin-left: auto;
  margin-right: auto;
}

.gallery__image {
  height: 122px;
  width: 100%;
  //   max-width: 320px;

  @media screen and (min-width: 480px) {
    height: 264px;
    // max-width: 767px;
    width: 100%;
  }

  @media screen and (min-width: 1280px) {
    height: 430px;
    width: 100%;
  }
}

// .collage {
//   height: 122px;
//   background-image: url(../images/collage.jpg), linear-gradient(to bottom, #fff5f6 40%, white 40%);
//   background-repeat: no-repeat;
//   background-position: center;
//   background-size: contain;
// }
// @media screen and (min-device-pixel-ratio: 2),
//   screen and (min-resolution: 192dpi),
//   screen and (min-resolution: 2dppx) {
//   .collage {
//     height: 122px;
//     background-image: url(../images/collage@2x.jpg),
//       linear-gradient(to bottom, #fff5f6 40%, white 40%);
//   }
// }

// @media screen and (min-width: 480px) {
//   .collage {
//     height: 264px;
//     max-width: 767px;
//     background-image: url(../images/collage768.jpg),
//       linear-gradient(to bottom, #fff5f6 40%, white 40%);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     .collage {
//       height: 264px;
//       background-image: url(../images/collage768x2.jpg),
//         linear-gradient(to bottom, #fff5f6 40%, white 40%);
//     }
//   }
// }
// @media screen and (min-width: 768px) {
//   .collage {
//     height: 430px;
//     max-width: 1600px;
//     background-image: url(../images/collagedesk.jpg),
//       linear-gradient(to bottom, #fff5f6 40%, white 40%);
//   }

//   @media screen and (min-device-pixel-ratio: 2),
//     screen and (min-resolution: 192dpi),
//     screen and (min-resolution: 2dppx) {
//     .collage {
//       height: 430px;
//       background-image: url(../images/collagedeskx2.jpg),
//         linear-gradient(to bottom, #fff5f6 40%, white 40%);
//     }
//   }
// }
