.hero-section {
  background-color: $bc-hero;
  padding-top: 137px;
  padding-right: 44px;
  padding-bottom: 160px;
  position: relative;
  overflow: hidden;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 15px;
    padding-left: 34px;
    padding-bottom: 28px;
    overflow: visible;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 84px;
    padding-left: 115px;
    padding-right: 125px;
    padding-bottom: 45px;
    overflow: visible;
  }
}

.hero__title {
  color: $white;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 26px;
  line-height: 1.15;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  margin-bottom: 19px;
  position: relative;
  z-index: 1;
  margin-bottom: 19px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 22px;
    line-height: 1.13;
    margin-bottom: 20px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.15;
  }
}

.hero__title-piece {
  color: $main-text-color;
  font-family: Titan One;
  font-style: normal;
  font-weight: normal;
  font-size: 48px;
  line-height: 1.04;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    font-size: 42px;
    line-height: 1.13;
  }

  @media screen and (min-width: 1200px) {
    font-size: 58px;
    line-height: 1.11;
  }
}

.button-hero {
  font-size: 8px;
  background-color: $main-text-color;
  border: none;
  border-radius: 22px;
  min-width: 62px;
  min-height: 24px;
  padding-left: 14px;
  padding-right: 14px;
  z-index: 1;
  position: relative;
  color: $white;
  cursor: pointer;
  font-family: inherit;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-bottom: 19px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
    min-width: 102px;
    min-height: 40px;
    margin-bottom: 56px;
  }
}

.button-hero:not(:last-child) {
  margin-right: 8px;

  @media screen and (min-width: 1200px) {
    margin-right: 15px;
  }
}

.button-hero {
  &:hover,
  &:focus {
    background-color: $button-red-bc-hover;
  }
}

.button-hero--reverse {
  background-color: $white;
  color: $main-text-color;
}

.button-hero--reverse {
  &:hover,
  &:focus {
    background-color: $button-bc-hover;
  }
}

.amount-thumb {
  text-align: right;
  display: flex;
  flex-direction: column;

  @media screen and (max-width: 767px) {
    display: none;
  }
}

.amount {
  font-family: Titan One;
  font-size: 28px;
  line-height: 1.14;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  z-index: 1;
  position: relative;
  color: $main-text-color;
  z-index: 2;

  @media screen and (max-width: 479px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    font-size: 46px;
    line-height: 1.13;
  }
}

.amount::after {
  position: absolute;
  display: block;
  content: '';
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: $white;
  z-index: -1;
  top: -4px;
  left: 40px;

  @media screen and (max-width: 479px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    width: 30px;
    height: 30px;
    top: -8px;
    left: 62px;
  }
}

.amount-thumb__names {
  font-size: 8px;
  line-height: 1.25;
  color: $white;
  position: relative;
  z-index: 2;

  @media screen and (min-width: 1200px) {
    font-size: 14px;
    line-height: 1.28;
  }
}

.amount-thumb__names:not(:last-child) {
  margin-bottom: 14px;
}

.hero__circle {
  background-color: $second-text-color;
  width: 346px;
  height: 344px;
  border-radius: 50%;
  position: absolute;
  bottom: 75px;
  left: 36px;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 344px;
    height: 322px;
    left: 307px;
    top: -60px;
  }

  @media screen and (min-width: 1200px) {
    width: 538px;
    height: 538px;
    left: 475px;
    bottom: 75px;
  }
}

.hero__image {
  position: absolute;
  bottom: 0;
  right: 32px;
  z-index: 0;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    right: 247px;
  }

  @media screen and (min-width: 1200px) {
    right: 450px;
    width: 236px;
    height: 557px;
  }
}

.hero__image-second {
  position: absolute;
  bottom: 0;
  right: 34px;
  z-index: 0;

  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 1200px) {
    right: 109px;
    width: 293px;
    height: 232px;
  }
}

.hero__block-first {
  display: flex;
  justify-content: space-between;
}

.hero__block-second {
  display: flex;
  @media screen and (max-width: 767px) {
    display: none;
  }
}

.hero__image-milk {
  margin-left: 34px;
  position: relative;
  z-index: 1;

  @media screen and (min-width: 1200px) {
    margin-left: -40px;
  }
}

.description-thumb {
  display: flex;
  flex-direction: column;
  padding-top: 74px;

  @media screen and (min-width: 1200px) {
    padding-top: 57px;
  }
}

.description-thumb__text {
  width: 119px;
  position: relative;
  font-size: 10px;
  line-height: 1.5;
  color: $white;
  margin-bottom: 7px;

  @media screen and (min-width: 1200px) {
    width: 200px;
    font-size: 14px;
    line-height: 1.4;
    margin-bottom: 20px;
  }
}

.description-thumb__button {
  width: 18px;
  height: 18px;
  display: inline-block;
  background-color: transparent;
  border: none;
  padding-left: 0px;

  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}

.description-thumb__button-img {
  width: 18px;
  height: 18px;

  @media screen and (min-width: 1200px) {
    width: 26px;
    height: 26px;
  }
}
