$bc-hero: #ffb8ca;
$bc-pink: #fff5f6;
$white: #ffffff;
$bg-mobile-menu: #e17992;

$button-bc-hover: #ecebeb;
$button-red-bc-hover: #c7133e;

$main-text-color: #d41443;
$second-text-color: #ffa5ba;
$text-black: #000000;
$text-grey: #907e82;
$second-font: Titan One, sans-serif;
