<div class="bg-pink">
  <span class="splash"></span>
  <section class="container" id="advantages">
    <div class="advantage">
      <div class="advantage__wrap-how-its-made">
        <h3 class="advantage__subtitle">tradition and love</h3>
        <h2 class="advantage__title">how it’s made?</h2>
      </div>

      <div class="advantage__wrap">
        <div class="advantage__cow-image"></div>

        <div class="advantage__wrap-text">
          <p class="advantage__text">
            Fusce ut velit laoreet, tempus arcu eu, molestie tortor. Nam vel justo cursus, faucibus
            lorem eget, egestas eros. Maecenas eleifend erat at justo fringilla.
          </p>
          <p class="advantage__text advantage__text-color">
            Curabitur lacinia enim at ex blandit, vel pellentesque odio elementum. Mauris rhoncus
            orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat
            urna maximus. Cras massa nibh, tincidunt.
          </p>
          <p class="advantage__text advantage__text-color">
            Aliquam erat volutpat. Aenean accumsan.
          </p>
          <button type="button" class="btn advantage-btn">
            Read more <img class="advantage-btn__image" src="../src/images/btn-piece.png" />
          </button>
        </div>
      </div>
    </div>
    <h2 class="is-hiden">Benefits</h2>
    <ul class="benefits">
      <li class="benefits__list">
        <span class="benefits__image1"></span>
        <h2 class="benefits__title">721</h2>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="benefits__list">
        <span class="benefits__image2"></span>
        <h2 class="benefits__title">16kg</h2>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
      <li class="benefits__list">
        <span class="benefits__image3"></span>
        <h2 class="benefits__title">84</h2>
        <p class="benefits__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
      </li>
    </ul>
  </section>
</div>
