<section class="contacts" id='cntc'>
  <div class="contacts__cards">
    <h2 class="hidden">Contacts</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__card">
          <p class="contacts__title">Cafe</p>
          <div class="contacts__content">
            <p class="contacts__label">Chicago</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule">
              <li class="schedule__item">
                <p class="contacts__label">Monday - Friday</p>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <span class="contacts__label">Saturday - Sunday</span>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>
            <ul>
              <li><a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a></li>
              <li><a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <p class="contacts__title--green">Food track</p>
          <div class="contacts__content">
            <p class="contacts__label">Los Angeles</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule">
              <li class="schedule__item">
                <p class="contacts__label">Monday - Friday</p>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <p class="contacts__label">Saturday - Sunday</p>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>

            <ul>
              <li><a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a></li>
              <li><a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__card">
          <p class="contacts__title">Cafe</p>
          <div class="contacts__content">
            <p class="contacts__label">New York</p>
            <p class="contacts__text">
              Fusce ut velit laoreet, tempus arcu molestie vulputate
            </p>
            <ul class="schedule">
              <li class="schedule__item">
                <p class="contacts__label">Monday - Friday</p>
                <p class="schedule__time">06:00 AM - 10:00 PM</p>
              </li>
              <li class="schedule__item">
                <p class="contacts__label">Saturday - Sunday</p>
                <p class="schedule__time">08:00 AM - 16:00 PM</p>
              </li>
            </ul>

            <ul>
              <li><a class="contacts__mail" href="tel:+380961111111">+61(0) 383 766 284</a></li>
              <li><a class="contacts__mail" href="mailto:noreply@envato.com">noreply@envato.com</a></li>
            </ul>
          </div>
        </div>
      </li>
    </ul>

    <div class="button__div">
      <ul class="button">
        <li class="button-contacts">
          <button type="button" class="button-contacts__but1">
            <span class="button-text__white">Our Locations</span>
          </button>
        </li>
      </ul>


      <ul class="button">
        <li class="button-contacts">
          <button type="button" class="button-contacts__but2">
            <span class="button-text__pink">Franchise</span>
          </button>
        </li>
      </ul>
    </div>

  </div>

</section>