
<section class=" slider " id="">




    <div class="swiper mySwiper">
        <div class="swiper-wrapper">
            <!-- <div class="swiper-slide customer-item swiper-container ">
                <ul class="swiper-wrapper">
                    <li class="swiper-slide">
                        <img class="slider-image" src="../src/images/avatar1.png" alt="Avatar1" srcset="../src/images/avatar1x2.png">
                        <p class="slider-description">
                            <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                primis in nibh vel risus.</span>
                        </p>
                        <div class="slider-dots">
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                        </div>
                        <p class="slider-title">
                            Emily, Los Angeles
                        </p>
                    </li>
                </ul></div> -->
            <div class="swiper-slide swiper-container">
                <div class=" container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <img class="slider-image"
                        src="../src/images/avatar1.png"
                        alt="Avatar1"
                        srcset="../src/images/avatar1x2.png">
                        <p class="slider-description">
                            <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                primis in nibh vel risus.</span>
                        </p>
                        <div class="slider-dots">
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                            <span class="slider-dots__dot"></span>
                        </div>
                        <p class="slider-title">
                            Emily, Los Angeles
                        </p>
                     </div>
                    </div>
                    </div>
                </div>
            <div class="swiper-slide swiper-container">
                <div class=" container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="slider-image" src="../src/images/avatar1.png" alt="Avatar1"
                                srcset="../src/images/avatar1x2.png">
                            <p class="slider-description">
                                <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                    primis in nibh vel risus.</span>
                            </p>
                            <div class="slider-dots">
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                            </div>
                            <p class="slider-title">
                                Emily, Los Angeles
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide swiper-container">
                <div class=" container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <img class="slider-image" src="../src/images/avatar1.png" alt="Avatar1"
                                srcset="../src/images/avatar1x2.png">
                            <p class="slider-description">
                                <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                                    primis in nibh vel risus.</span>
                            </p>
                            <div class="slider-dots">
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                                <span class="slider-dots__dot"></span>
                            </div>
                            <p class="slider-title">
                                Emily, Los Angeles
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-pagination"></div>
    </div>



<!-- <div class="swiper-container container">
    <ul class="swiper-wrapper">
        <li class="swiper-slide">
            <img class="slider-image"
            src="../src/images/avatar1.png"
            alt="Avatar1"
            srcset="../src/images/avatar1x2.png">
            <p class="slider-description">
                <span class="slider-description__underline">Nullam viverra consectetuer. Quisque cursus et,
                    porttitor risus. Aliquam sem. In hendrerit nulla quam nunc, accumsan congue. Lorem ipsum
                    primis in nibh vel risus.</span>
            </p>
            <div class="slider-dots">
                <span class="slider-dots__dot"></span>
                <span class="slider-dots__dot"></span>
                <span class="slider-dots__dot"></span>
            </div>
            <p class="slider-title">
                Emily, Los Angeles
            </p>
         </li>
        </ul>
        </div>
        <!-- <span class="swiper-pagination"></span>
        <span class="swiper-pagination"></span>
        <span class="swiper-pagination"></span> -->
        <!-- <div>
            <ul class="swiper-pagination-list">
                <li class="swiper-pagination-item"></li>
                <li class="swiper-pagination-item"></li>
                <li class="swiper-pagination-item"></li>
            </ul>
        </div>
     <div class="swiper-pagination-home">

     </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-pagination"></div>

    </div>  -->


</section>