<header class="page-header container">
  <nav class="main-nav">
    <a href="#" class="logo">
      <img src="../src/images/logo.png" class="logo__img" alt="" />
    </a>

    <button type="button" class="burger-menu__btn burger-menu__btn--outside">
      Buy now<span class="burger-menu__btn-piece burger-menu__btn-piece--outside">
        <img src="../src/images/btn-piece.png" alt="" width="7" height="9" />
      </span>
    </button>

    <button type="button" class="burger-btn" data-menu-open>
      <img src="../src/images/Burger.png" alt="" width="22" height="12" />
    </button>

    <div class="burger-menu" data-menu>
      <button type="button" class="burger-menu__button" data-menu-close>
        <img src="../src/images/burger-close.png" width="14" height="14" alt="" />
      </button>
      <button type="button" class="burger-menu__btn">
        Buy now<span class="burger-menu__btn-piece">
          <img src="../src/images/btn-piece.png" alt="" width="7" height="9" />
        </span>
      </button>
      <nav class="burger-nav">
        <ul class="burger-nav__list">
          <li class="burger-nav__item">
            <a class="burger-nav__link burger-nav__link--current" href="#">Home</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#about-us">About us</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#advantages">How it’s made?</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#products">Our products</a>
          </li>
          <li class="burger-nav__item">
            <a class="burger-nav__link" href="#cntc">Contact</a>
          </li>
        </ul>
      </nav>
    </div>

    <ul class="main-nav__list">
      <li class="main-nav__item">
        <a href="" class="main-nav__link main-nav__link--current">Home</a>
      </li>
      <li class="main-nav__item">
        <a href="#about-us" class="main-nav__link">About us</a>
      </li>
      <li class="main-nav__item">
        <a href="#advantages" class="main-nav__link">How it’s made?</a>
      </li>
      <li class="main-nav__item">
        <a href="#products" class="main-nav__link">Our products</a>
      </li>
      <li class="main-nav__item">
        <a href="#cntc" class="main-nav__link">Contact</a>
      </li>
    </ul>
  </nav>
  <button type="button" class="header-button"></button>
</header>
