<section class="hero-section container">
  <div class="hero__block-first">
    <div>
      <h1 class="hero__title">
        ice cream <br />
        made with <br />
        <span class="hero__title-piece">passion</span>
      </h1>
      <button type="button" class="button-hero">Products</button>
      <button type="button" class="button-hero button-hero--reverse">How it’s made?</button>
    </div>
    <div class="amount-thumb">
      <span class="amount">16<br /></span>
      <span class="amount-thumb__names">cafes</span>
      <span class="amount">23<br /></span>
      <span class="amount-thumb__names">food trucks</span>
    </div>
  </div>

  <div class="hero__circle"></div>
  <img class="hero__image" src="../src/images/ice-cream-hero.png" alt="" />
  <img class="hero__image-second" src="../src/images/woman-hero.png" alt="" />
  <div class="hero__block-second">
    <img
      class="hero__image-milk"
      src="../src/images/milk-hero.png"
      alt=""
      width="188"
      height="191"
    />
    <div class="description-thumb">
      <p class="description-thumb__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
        labore et
      </p>
      <button type="button" class="description-thumb__button">
        <img class="description-thumb__button-img" src="../src/images/arrow-hero.png" alt="" />
      </button>
    </div>
  </div>
</section>
